@model IEnumerable<ShopManagement.Models.User>

@{
    ViewData["Title"] = "Index";
}


<div id="back">
        
            <div class="row align-items-center" id="head">
                <div class="col-md-6">
                    <div class="mb-3">
                        <h4 class="card-title" id="title">Lista użytkowników</h4>
                    </div>
                </div>
                <br />
                <div >
                    <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
                       
                        <div>
                    @if (User.IsInRole("Admin"))
                    {
                         <a asp-action="Create" class="btn btn-primary" style="margin-right:5rem">Dodaj
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
                            </a>
                    }
                   
                        </div>
                        
                    </div>
                </div>
            </div>
 

            <div class="row" style="margin:0">
                <div class="col-lg-12">
                    <div class="">
                        <div class="input-group rounded">
                            <form asp-controller="User" asp-action="Index" method="get">
                                <div class="container">
                                    <div class="row">

                                        <select class="form-select m-2" name="filter" asp-items="ViewBag.Roles" style="width: 12rem">
                                            <option value="">Wszystkie</option>
                                        </select>
                                       
                                        @if(ViewBag.Search == null)
                                        {
                                            <input type="search" class="form-control rounded col m-2" placeholder="Szukaj" name="SearchString"/>
                                        }
                                        else
                                        {
                                            <input type="search" class="form-control rounded col m-2" value="@ViewBag.Search" name="SearchString"/>
                                        }
                                            <button type="submit" class="col-sm-2 btn" id="myBtn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                         <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                                </svg>
                                            </button>
                                     </div>
                                </div>
                                
                            </form>

                        </div>
                        <br />
                
                        <div class="table-responsive">
                    <table class="table table-hover align-middle">
                                <thead class="table-secondary">
                                    <tr>
                                        <th></th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.LastName)
                                    @if(ViewBag.NameSortParm == "name_desc"){
                                        @Html.ActionLink("^", "Index", new { sortOrder = ViewBag.NameSortParm })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("v", "Index", new { sortOrder = ViewBag.NameSortParm })
                                    }
                                    
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Role)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.isBlocked)
                                        </th>
                                        <th>
                                            
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Role.Name)
                                            </td>
                                            <td>
                                            @if(item.isBlocked == true)
                                            {
                                                <input class="form-check-input" type="checkbox" value="" disabled checked>
                                            }
                                            else{
                                                <input class="form-check-input" type="checkbox" value="" disabled>
                                            }
                                        
                                                
                                            </td>
                                            <td>
                                                
                                                 <a class="px-2" asp-action="Details" asp-route-id="@item.Id">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545  0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                                    </svg>
                                                  </a>
                                                    
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a class="px-2" asp-action="Edit" asp-route-id="@item.Id">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                                </svg>
                                            </a>
                                        }    
                                        
                                                   
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
       
        
       
</div>


<script>
    function myFun(){
        document.getElementById("myBtn").click();
    }
</script>
